.App {
  text-align: center;
  padding: 15px;

}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}


.lista-producto{
  color:blueviolet;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}


.lista-tareas{
  display: flex;
  align-items: center;
  flex-direction: columnl;
}

.tarea{

  margin: 10px;
  display: flex;
  width: 300px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
}


.tarea span{
  margin: 6px;
  flex-grow: 1;
}

.tarea button{
  padding: 5px 10px;
  margin-left: 5px;
  background-color: aquamarine;
}