<header>
  <nav>
    <div class="logo">
      <img src="assets/logo.png" alt="Logo">
    </div>
    <ul class="nav-links">
      <li><a routerLink="/home" routerLinkActive="active">Inicio</a></li>
      <li><a routerLink="/about" routerLinkActive="active">Nosotros</a></li>
      <li><a routerLink="/services" routerLinkActive="active">Servicios</a></li>
      <li><a routerLink="/regulations" routerLinkActive="active">Normativa</a></li>
      <li><a routerLink="/contact" routerLinkActive="active">Contáctenos</a></li>
    </ul>
    <div class="burger">
      <div class="line1"></div>
      <div class="line2"></div>
      <div class="line3"></div>
    </div>
  </nav>
</header>
