<section class="about">
  <h2>Nosotros</h2>
  <p>Reseña de la empresa...</p>
  <div class="flip-card-container">
    <div class="flip-card">
      <div class="flip-card-inner">
        <div class="flip-card-front">
          <i class="icon">MISIÓN</i>
        </div>
        <div class="flip-card-back">
          <p>Brindar un servicio eficiente a nuestros clientes...</p>
        </div>
      </div>
    </div>
    <div class="flip-card">
      <div class="flip-card-inner">
        <div class="flip-card-front">
          <i class="icon">VISIÓN</i>
        </div>
        <div class="flip-card-back">
          <p>Ser reconocida como la mejor Agencia...</p>
        </div>
      </div>
    </div>
    <div class="flip-card">
      <div class="flip-card-inner">
        <div class="flip-card-front">
          <i class="icon">VALORES</i>
        </div>
        <div class="flip-card-back">
          <p>Transparencia en los procesos realizados...</p>
        </div>
      </div>
    </div>
  </div>
</section>
