<footer>
    <div class="footer-sections">
      <div class="sections">
        <a routerLink="/home">Inicio</a>
        <a routerLink="/about">Nosotros</a>
        <a routerLink="/services">Servicios</a>
        <a routerLink="/regulations">Normativa</a>
        <a routerLink="/contact">Contáctenos</a>
      </div>
      <div class="contact-info">
        <p><strong>Teléfono:</strong> 44333305</p>
        <p><strong>Correo Electrónico:</strong> jointcommercesrl@gmail.com</p>
        <p><strong>Dirección:</strong> Av. Ballivián N# 688 P.5 Of.7</p>
        <p><a href="https://www.facebook.com"><i class="fab fa-facebook-f"></i> Facebook</a></p>
      </div>
    </div>
  </footer>
  