.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}
.producto-card{
    max-width: 310px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.producto-card-titulo{
    font-weight: bold;
    margin: 8px;
    font-size: 20pt;
}
.producto-card-precio{
    margin: 10px;
    font-weight:400;
}
.producto-card:hover{
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}